# Ceren Dursun - 202151056001

Question 1

In [1]:
import pandas as pd
import numpy as np

In [7]:
#df = pd.DataFrame(data, index = index, columns = columns)
data={'Area':['Array','Stack','Queue'],'Student1':[20,6,19],'Student2':[4,20,14]}
df = pd.DataFrame(data, index =['Cat_1', 'Cat_2', 'Cat_3'])
df.head()

        Area  Student1  Student2
Cat_1  Array        20         4
Cat_2  Stack         6        20
Cat_3  Queue        19        14

In [13]:
data = [['Array', 20, 4], ['Stack', 6, 20], ['Queue', 19, 14] ]
df = pd.DataFrame(data, index =['Cat_1', 'Cat_2', 'Cat_3'],columns =['Area','Student1','Student2'])
df.head()

        Area  Student1  Student2
Cat_1  Array        20         4
Cat_2  Stack         6        20
Cat_3  Queue        19        14

Question 2

In [2]:
d = {'one': pd.Series([1,2], index = ['a','e']),

'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}

df = pd.DataFrame(d, index = ['d', 'b', 'a'])

print(df)

   one  two
d  NaN    3
b  NaN    1
a  1.0    0

In this segment of code, we could observe that the output is the created dataframe. The columns 'one' and 'two', the indexes and the values(using pd.Series) are assigned within the declaration, in one line. the first column is simply 
 one
a 1
e 2

and the second one is  
 two
a 0
b 1
c 2
d 3

That is why we have obtained the printed result when the indexes d b a are selected.

Question 3

In [53]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])

df.head()

                   A         B         C         D
2000-01-01 -0.853816 -1.625924  1.564108 -0.547197
2000-01-02  0.362349  1.261182  1.042516 -0.536876
2000-01-03 -0.395639 -1.125207  0.631865  0.834606
2000-01-04 -0.809053  0.024801 -0.076870 -1.108461
2000-01-05  0.957528  0.811276  0.376993 -0.694202

In [64]:
sum_column = df["A"] + df["B"]
df["AplusB"] = sum_column
df.head()

,A,B,C,D,AB,A+B,AplusB
2000-01-01,-0.853816,-1.625924,1.564108,-0.547197,-2.479740,-2.479740,-2.479740
2000-01-02,0.362349,1.261182,1.042516,-0.536876,1.623531,1.623531,1.623531
2000-01-03,-0.395639,-1.125207,0.631865,0.834606,-1.520846,-1.520846,-1.520846
2000-01-04,-0.809053,0.024801,-0.076870,-1.108461,-0.784252,-0.784252,-0.784252
2000-01-05,0.957528,0.811276,0.376993,-0.694202,1.768804,1.768804,1.768804

In [65]:
df.loc[df.AplusB > df.C,:].iloc[-2:,:]

,A,B,C,D,AB,A+B,AplusB
2000-01-07,0.972842,0.463995,0.073553,0.936557,1.436837,1.436837,1.436837
2000-01-08,0.549343,0.685641,-0.272808,-0.167996,1.234983,1.234983,1.234983

Question 4

In [47]:
df=pd.DataFrame({'Date':['1/2/2011','1/3/2011','1/4/2011','1/5/2011', '1/6/2011'],'Event': ['Music', 'Poetry', 'Music', 'Music', 'Poetry']})
df.head()
#Write a single line of code to add a new column called ‘Price’ to the dataframe df. Set the price to 1500 if the ‘Event’ is ‘Music’ else 800.

       Date   Event
0  1/2/2011   Music
1  1/3/2011  Poetry
2  1/4/2011   Music
3  1/5/2011   Music
4  1/6/2011  Poetry

In [49]:
df['Price'] = [1500 if x =='Music' else 800 for x in df['Event']]
df.head()

       Date   Event  Price
0  1/2/2011   Music   1500
1  1/3/2011  Poetry    800
2  1/4/2011   Music   1500
3  1/5/2011   Music   1500
4  1/6/2011  Poetry    800

Question 5

In [89]:
record = {'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],

'Age': [21, 19, 20, 18, 17, 21], 'Percent': [88, 92, 95, 70, 65, 78],

'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science']}

dataframe = pd.DataFrame(record,columns=['Name','Age','Stream','Percent'])

dataframe.head()

#Write a code segment to select all the rows from the given dataframe in which ‘Age’ is equal to 21 and ‘Stream’ is either Science or Math using .loc[].

        Name  Age    Stream  Percent
0      Ankit   21      Math       88
1       Amit   19  Commerce       92
2  Aishwarya   20   Science       95
3   Priyanka   18      Math       70
4      Priya   17      Math       65

In [102]:
options = ['Math', 'Science']
result = dataframe.loc[(dataframe['Age'] == 21) & dataframe['Stream'].isin(options)]
result.head()

      Name  Age   Stream  Percent
0    Ankit   21     Math       88
5  Shaurya   21  Science       78

Question 6

In [106]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data', header=None, names=['sex', 'length', 'diameter', 'height', 'weight', 'shucked_weight', 'viscera_weight', 'shell_weight', 'rings'])

X = df[['length']].to_numpy()

y = df['rings'].to_numpy()

from sklearn import linear_model

model = linear_model.LinearRegression()

model.fit(X, y)

LinearRegression()

In [110]:
df['diameter_square']=np.power((df['diameter']),2)
df.head()

,sex,length,diameter,height,weight,shucked_weight,viscera_weight,shell_weight,rings,diameter_square
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0.133225
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0.070225
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0.176400
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0.133225
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0.065025

In [111]:
df['diameter_square/viscera_weight'] = df['diameter_square']/df['viscera_weight']
df.head()

,sex,length,diameter,height,weight,shucked_weight,viscera_weight,shell_weight,rings,diameter_square,diameter_square/viscera_weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0.133225,1.319059
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0.070225,1.447938
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0.176400,1.246643
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0.133225,1.168640
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0.065025,1.646203

In [112]:
df_new = df[['sex','length','diameter','height','weight','shucked_weight','viscera_weight','shell_weight','rings','diameter_square/viscera_weight']]

In [114]:
X = df_new[['length']].to_numpy()
y = df_new['rings'].to_numpy()
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

Question 7

In [109]:
import torch
# Features are 3 random normal variables

features = torch.randn((1, 3))

# Define the size of each layer in our network

# Number of input units, must match number of input features

n_input = features.shape[1]

n_hidden = 2 # Number of hidden units

n_hidden_2 =5 #New hidden layer with 5 units

n_output = 1 # Number of output units

# Weights for inputs to hidden layer

W1 = torch.randn(n_input, n_hidden)

# Weights for hidden layer to output layer

W2 = torch.randn(n_hidden, n_output)

# calculate the output for this multi-layer network using the weights W1 & W2.

h = activation(torch.mm(features, W1))

output = activation(torch.mm(h, W2),bias=True) #adding bias

print(output)

NameError: ignored